# --- PyCharm ---
# Игнорируем папку с настройками проекта PyCharm
.idea/

# --- Python / Виртуальное окружение ---
# Игнорируем папки виртуальных окружений (названия могут отличаться)
venv/
env/
.venv/
*/venv/
*/env/

# Игнорируем кэш Python и скомпилированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Django ---
# Локальная база данных SQLite (используется для разработки)
db.sqlite3
*.sqlite3-journal

# Лог файлы
*.log

# Папка для собранных статических файлов (collectstatic)
/static_root/
/staticfiles/

# Файлы окружения (для хранения секретов, API ключей и т.д.)
.env
.env.*
!.env.example # Оставляем пример файла .env, если он есть