{% extends 'base.html' %}

{% block content %}

    <form method="get" action="{% url 'weather:search' %}">
        <p>{{ search_form.location }}</p>
        <p>
            <button type="submit">Найти</button>
        </p>

    </form>

    <h2>Сохранённые локации:</h2>
    <ul>
    {% for location in locations %}
        <li>{{ location.name }}, {{ location.country }} ({{ location.latitude }}, {{ location.longitude }})</li>
    {% empty %}
        <li>Нет сохранённых локаций.</li>
    {% endfor %}
</ul>

{% endblock content %}

